# Ignorar entornos virtuales
.venv-gemini-bot/
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Ignorar archivos específicos
.python-version
.flyignore

# Ignorar archivos de configuración del IDE
.idea/
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests
.idea/dataSources
.idea/dataSources.local.xml

# Ignorar config local
fly.toml
